html(ng-app="myApp")
head
    
body
        title=MyBlog
        link(rel= 'stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') 
        #leabel-head(style='top: 5% solid #add; margin-bottom: auto; z-index:1 ;padding: 2%; background: #adf')
            h1 Web Data Management
            p NodeJS with ExpressJS middleware and AngularJS app front.
        #container(style='padding: 2%; margin:10%;')
            
            div(ng-controller="myCtrl1")
                h3 Welcome
                p   Check out my first Post here..
                button(ng-click="callServer()" ).btn.btn-primary.button-sign-in
                    | Http.Get()
                    .clearfix
                br
                br
                input(type="checkbox" ng-model="showRaw")
                lable Check this to Show raw JSON recevied from Server.
                               
                div(class="show-data" ng-show="showRaw" style="background:#ddd;border-bottom:8px solid #dda;padding:5px")
                    h4 {{ujson}} 
                    h4 {{preMsg}}  
                
                br
                br
                                    
                
            
            div(ng-controller="myCtrl2")
                
                p   Check out my first Post here..
                button(ng-click="callServer()" ).btn.btn-primary.button-sign-in
                    | Http.Get()
                    .clearfix
                
                    
                
                br
                br
                input(type="checkbox" ng-model="showRaw")
                lable Check this to Show raw JSON recevied from Server.
                
               
                div(class="show-data" ng-show="showRaw" style="background:#ddd;border-bottom:8px solid #dda;padding:5px")
                    h4 {{msg}} 
                    h4 {{preMsg}}  
                
                br
                br
                
                h3(style="color:#888") Displaying table using <div> tags.
                br
                #t-div(style="background:#ddf;margin-right:40%")
                    #th-div(style="background:#ddf;border-bottom:8px solid #aaf; padding: 5px")
                        h4 {{msg.chart.caption}}
                        h6 {{msg.chart.subCaption}}
                    #tr-div(style='width=60;margin=20%;background:#ddf;padding:5px;border-bottom:1px solid #888')
                        #td-div(ng-repeat="x in msg.data")
                            span {{x.label}} {{x.value}}
                
                br
                                    
                h3(style="color:#888") Displaying table using <table> tags.
                br
                br
                table(style="background:#ddf; border:3px solid #aaf; padding:5px")
                    tr()
                        th(style="border:1px solid #888;padding: 5px")  
                            {{msg.data[0].th1}} 
                        th(style="border:1px solid #888;padding: 5px")  
                            {{msg.data[0].th2}}
                    tr(ng-repeat="x in msg.data")
                        td(style="border:1px solid #888;padding: 5px") 
                            {{x.label}}
                        td(style="border:1px solid #888;padding: 5px") 
                            {{x.value}}
                        
                    
                    
        #credits(style='bottom: 5% solid #add;margin-top: 5% ;z-index: 1; padding: 2%; background: #add')
            a(href='/') Web Data Management
            p NodeJS with ExpressJS middleware and AngularJS app front.
            a(href='/index') Log in 
                h6 (Just for practice)    
            
       
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
        
        script(src="./js/app.js")
        