extends layout
block content
       #userInfo(style='solid #aad; background: #dbd')
       #side-bar(style='height:20%;width:100%;margin:auto;background-color:#cdd;padding:30px;')
            li Home
            li Account
            li Add an Ad