html
head
    title=MyBlog
    link(rel= 'stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css') 
    #leabel-head(style='top: 5% solid #add; margin-bottom: auto; z-index:1 ;padding-top: 1%; background: #adf')
        h1 My Blog
        p Really taking "I am an open Book!" to the next Level !
    
    block content
    
        
    #credits(style='bottom: 5% solid #add;margin-top:5% ;margin-bottom: 10% px;z-index: 1; padding: 2%; background: #add')
        a My Blog
        p Really taking "I am an open Book!" to the next Level !
        a(href='/index') Log in